@model Fakture_.DetaljiFakture1

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>DetaljiFakture1</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Cijena)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cijena)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Kolicina)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Kolicina)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Ukupno)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ukupno)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Faktura1.Id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Faktura1.Id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Popust1.Id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Popust1.Id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Proizvod1.Naziv)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Proizvod1.Naziv)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
